// Typography
// ---------------------------------------

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-feature-settings: 'kern' 1, 'calt' 1, 'liga' 1;

  color: $text;
  font-family: "jaf-facitweb", verdana, arial, sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;

  color: $heading;
  font-style: normal;
  font-weight: 700;
}

a {
  transition: color .1s, background-color .1s;

  color: $link;
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: $hover;
    text-decoration: none;
  }
}

p, li {
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
}

b, strong, .bold {
  font-weight: 700;
}

em, i, .italic {
  font-style: italic;
}

sup {
  font-size: 67%;
  font-feature-settings: 'sups' 1;
}

h1,h2,h3,h4,h5,h6,p,li,table,input {
  visibility: hidden;
  opacity: 0;
  transition: opacity .1s;

  html.wf-active &,
  html.wf-inactive & {
    visibility: visible;
    opacity: 1;
  }
}

.typeset {

  h2 {
    font-size: 1.125em;
    margin-bottom: 1em;

    @include breakpoint(break-1) {
      font-size: 1.5em;
      margin-bottom: 0.75em;
    }
  }

  h3 {
    font-size: 1em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;

    @include breakpoint(break-1) {
      font-size: 1.25em;
    }
  }

  p {
    font-size: 0.8em;
    margin-bottom: 1em;
    line-height: 1.6;

    @include breakpoint(break-1) {
      font-size: 1em;
      line-height: 1.7;
    }
  }
}
